<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        function submitAdminForm(adminId) {
            const form = document.getElementById('admin-form-' + adminId);
            form.submit();
        }

        function deleteAdmin(adminId) {
            const form = document.getElementById('delete-admin-form-' + adminId);
            form.submit();
        }

        function addNewAdmin() {
            const addAdminButton = document.getElementById('add-admin-button');
            const newAdminFormId = 'new-admin-form';
            const newAdminForm = `
                <div class="admin-card" id="${newAdminFormId}">
                    <form id="admin-form-new" action="/addAdmin" method="post">
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="button" onclick="submitAdminForm('new')">Save</button>
                        <button type="button" onclick="cancelNewAdmin('${newAdminFormId}')">Cancel</button>
                    </form>
                </div>
            `;
            addAdminButton.insertAdjacentHTML('beforebegin', newAdminForm);
        }

        function cancelNewAdmin(formId) {
            const newAdminForm = document.getElementById(formId);
            newAdminForm.remove();
        }

        function openEditUserPage(userId) {
            window.location.href = '/editUser/' + userId;
        }
    </script>
</head>
<body>
    <header>
        <a href="/">Головна</a>
        <div class="header-profile">
            <a href="/profile">Профіль</a>
            <a href="/logout">Вийти</a>
        </div>
    </header>
    <div class="container">
        <h1>Адміни</h1>

        <div class="admin-cards-container" id="admin-cards-container">
            <% admins.forEach(admin => { %>
            <div class="admin-card">
                <form id="admin-form-<%= admin._id %>" class="admin-info-form" action="/editAdmin/<%= admin._id %>" method="post">
                    <label for="admin-username">Логін</label>
                    <input type="text" name="username" id="admin-username" value="<%= admin.username %>" required>
                    <label for="admin-password">Пароль</label>
                    <input type="password" name="password" id="admin-password" placeholder="New Password">
                    <button class="admin-safe-btn" type="button" onclick="submitAdminForm('<%= admin._id %>')">Save</button>
                </form>
                <form id="delete-admin-form-<%= admin._id %>" action="/deleteAdmin/<%= admin._id %>" method="post">
                    <button class="admin-delete-btn" type="button" onclick="deleteAdmin('<%= admin._id %>')"><i class="fa">&#xf014;</i></button>
                </form>
            </div>
            <% }) %>
            <div class="admin-card add-admin-card" id="add-admin-button" onclick="addNewAdmin()">
                <a>+</a>
            </div>
        </div>

        <h1>Користувачі</h1>
        <div class="user-cards-container">
            <% users.forEach(user => { %>
            <div class="user-card" onclick="openEditUserPage('<%= user._id %>')">
                <h3><%= user.surname %> <%= user.name[0] %>. <%= user.patronymic[0] %>.</h3>
                <p class="user-card-txt">Група: <b><%= user.group %></b></p>
                <p class="user-card-txt">Середній бал: <b><%= user.averageMark %></b></p>
                <p class="user-card-txt">Додаткові бали: <b><%= user.additionalMarks %></b></p>
                <p class="user-card-txt">Рейтинг: <b><%= user.rating %></b></p>
            </div>
            <% }) %>
            <div class="user-card add-user-card" onclick="window.location.href='/addUser'">
                <a>+</a>
            </div>
        </div>
    </div> 
</body>
</html>
