<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
    <script>
        function openEditUserPage(userId) {
            window.location.href = '/editUser/' + userId;
        }
    </script>
</head>
<body>
    <header>
        <a href="/">Головна</a>
        <a href="/profile">Профіль</a>
        <a href="/logout">Вийти</a>
    </header>
    <h1>Користувачі</h1>
    <div class="user-cards-container">
        <% users.forEach(user => { %>
        <div class="user-card" onclick="openEditUserPage('<%= user._id %>')">
            <h3><%= user.surname %> <%= user.name[0] %>. <%= user.patronymic[0] %>.</h3>
            <p>Група: <%= user.group %></p>
            <p>Середній бал: <%= user.averageMark %></p>
            <p>Додаткові бали: <%= user.additionalMarks %></p>
            <p>Рейтинг: <%= user.rating %></p>
        </div>
        <% }) %>
        <div class="user-card add-user-card" onclick="window.location.href='/addUser'">
            <a>+</a>
        </div>
    </div>
</body>
</html>
