<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/">Головна</a>
        <a href="/profile">Профіль</a>
        <% if (isLoggedIn) { %>
            <a href="/logout">Вийти</a>
        <% } %>
    </header>
    <h1>Рейтинг успішності</h1>
    <% if (isAdmin) { %>
        <div id="admin-controls">
            <form action="/updateBudget" method="post">
                <input type="number" name="budgetStudents" placeholder="Number of budget students" value="<%= budgetStudents %>" required>
                <button type="submit">Оновити</button>
            </form>
        </div>
    <% } %>
    <table>
        <thead>
            <tr>
                <th>ПІБ</th>
                <th>Група</th>
                <th>Середній бал</th>
                <th>Додаткові бали</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user, index) => { %>
                <tr style="background-color: 
                    <%= index < Math.ceil(budgetStudents * 0.4) ? 
                        (index < Math.ceil(budgetStudents * 0.1) ? 'rgba(10,137,239,0.6)' : 'rgba(61,178,50,0.6)') : 'rgba(243,244,245,0.6)' %>;">
                    <td><%= user.name %> <%= user.surname %></td>
                    <td><%= user.group %></td>
                    <td><%= user.averageMark %></td>
                    <td><%= user.additionalMarks %></td>
                    <td><%= user.rating %></td>
                </tr>
            <% }) %>

        </tbody>
    </table>
</body>
</html>
