<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <script>
        function filterByFaculty(faculty) {
            const url = new URL(window.location.href);
            url.searchParams.set('faculty', faculty);
            window.location.href = url.toString();
        }


        function filterNumericInput(event) {
            const input = event.target;
            let value = input.value.replace(/[^0-9]/g, '');
            if (value > 150) value = 150;
            input.value = value;
        }
    </script>
</head>
<body>
    <header>
        <a href="/">Головна</a>
        <div class="header-profile">
            <a href="/profile">Профіль</a>
            <% if (isLoggedIn) { %>
                <a href="/logout">Вийти</a>
            <% } %>
        </div>
    </header>
    <div class="container">
        <h1>Рейтинг успішності</h1>

        <div class="faculty-info">
            <p class="faculty-info-text">Факультет: <span class="faculty-info-accent"><%= selectedFaculty %></span></p>
            <p class="faculty-info-text-2">Студентів на бюджеті: <span class="faculty-info-accent"><%= budgetStudents %></span></p>
        </div>

        <% if (isAdmin) { %>
        <div id="admin-controls">
            <form action="/updateBudget" method="post" class="admin-controls-form">
                <select class="faculty-dropdown" name="faculty" onchange="filterByFaculty(this.value)" required>
                    <% faculties.forEach(faculty => { %>
                        <option value="<%= faculty %>" <%= faculty === selectedFaculty ? 'selected' : '' %>><%= faculty %></option>
                    <% }) %>
                </select>
                <input class="students-number-input" type="number" name="budgetStudents" oninput="filterNumericInput(event)" max="150" placeholder="Кількість бюджетників" value="<%= budgetStudents %>" required>
                <button class="students-number-btn" type="submit">Оновити</button>
            </form>
        </div>
        <% } %>

        <!-- Faculty Buttons -->
        <div class="faculty-buttons">
            <% faculties.forEach(faculty => { %>
                <button onclick="filterByFaculty('<%= faculty %>')" class="<%= selectedFaculty === faculty ? 'active' : '' %>">
                    <%= faculty %>
                </button>
            <% }) %> 
        </div>



        <div class="abomination">
            <table class="index-table">
                <thead>
                    <tr>
                        <th class="index-head">№</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user, index) => { %>
                        <tr style="background-color: 
                            <%= index < Math.floor(budgetStudents * 0.4) ? 
                                (index < Math.ceil(budgetStudents * 0.1) ? 'rgba(10,137,239,0.6)' : 'rgba(61,178,50,0.6)') : 'rgba(243,244,245,0.6)' %>;">
                            <td class="index-column"><%= index + 1 %></td>
                        </tr>
                        <% }) %>
                </tbody>
    
            </table>
            <div class="table-container">
                <table class="main-table">
                    <thead>
                        <tr>
                            <!-- <th class="index-head">№</th> -->
                            <th class="pib-head">ПІБ</th>
                            <th class="faculty-head">Факультет</th>
                            <th class="group-head">Група</th> 
                            <th class="avg-head">Середній бал</th>
                            <th class="add-head">Дод. бали</th>
                            <th class="rating-head">Рейтинг</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user, index) => { %>
                        <tr style="background-color: 
                            <%= index < Math.floor(budgetStudents * 0.4) ? 
                                (index < Math.ceil(budgetStudents * 0.1) ? 'rgba(10,137,239,0.6)' : 'rgba(61,178,50,0.6)') : 'rgba(243,244,245,0.6)' %>;">
                            <!-- <td class="index-column"><%= index + 1 %></td> -->
                            <td class="pib-column"><%= user.surname %> <%= user.name %> <%= user.patronymic %></td>
                            <td class="faculty-column"><%= user.faculty %></td>
                            <td class="group-column"><%= user.group %></td>
                            <td class="avg-column"><%= user.averageMark %></td>
                            <td class="add-column"><%= user.additionalMarks %></td>
                            <td class="rating-column"><%= user.rating %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
