<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <header>
        <a class="main-logo" href="/">Головна</a>
        <div class="header-profile">
            <a href="/profile">Профіль</a>
            <a href="/logout">Вийти</a>
        </div>
    </header> -->
    <header>
        <a class="main-logo" href="/">Головна</a>
        <div class="header-profile">
            <button class="profile-btn">Profile</button>
            <div class="dropdown-content">
                <a href="/profile">Профіль</a>
                <a href="/logout">Вийти</a>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>Мій профіль</h1>
        <div style="width: 100%;">
            <p class="user-info-txt">ПІБ: <b><%= user.surname %> <%= user.name %> <%= user.patronymic %></b></p>
            <p class="user-info-txt">Факультет: <b><%= user.faculty %></b></p>
            <p class="user-info-txt">Група: <b><%= user.group %></b></p>
            <p class="user-info-txt">Додаткові бали: <b><%= user.additionalMarks %></b></p>
            

            <div class="abomination">
                <table class="sub-table">
                    <thead>
                        <tr>
                            <th class="subject-head">Предмет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% user.subjects.forEach(subject => { %>
                            <tr>
                                <td class="subject-column"><%= subject.subject %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div class="table-container">
                    <table class="subjects-table">
                        <thead>
                            <tr>
                                <!-- <th class="subject-head">Предмет</th> -->
                                <th class="teacher-head">Викладач</th>
                                <th class="mark-head">Оцінка</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.subjects.forEach(subject => { %>
                                <tr>
                                    <!-- <td class="subject-column"><%= subject.subject %></td> -->
                                    <td class="teacher-column"><%= subject.teacher %></td>
                                    <td class="mark-column"><%= subject.mark %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

            <p class="user-info-txt">Середній бал: <b><%= user.averageMark %></b></p>
        
            <p class="user-info-txt">Рейтинг: <b><%= user.rating %></b></p>
        </div>
    </div>

<script>
            document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.profile-btn').addEventListener('click', function(event) {
                event.stopPropagation();
                document.querySelector('.dropdown-content').classList.toggle('show');
            });

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
                if (!event.target.matches('.profile-btn')) {
                    var dropdowns = document.querySelectorAll('.dropdown-content');
                    dropdowns.forEach(function(dropdown) {
                        if (dropdown.classList.contains('show')) {
                            dropdown.classList.remove('show');
                        }
                    });
                }
            }
        });
    </script>
</script>
</body>
</html>
