<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/">Main</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </header>
    <h1>User Profile</h1>
    <div>
        <p>Name: <%= user.name %> <%= user.surname %></p>
        <p>Group: <%= user.group %></p>
        <table>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Mark</th>
                </tr>
            </thead>
            <tbody>
                <% user.subjects.forEach(subject => { %>
                    <tr>
                        <td><%= subject.subject %></td>
                        <td><%= subject.teacher %></td>
                        <td><%= subject.mark %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <p>Average Mark: <%= user.averageMark %></p>
        <p>Additional Marks: <%= user.additionalMarks %></p>
        <p>Rating Mark: <%= user.rating %></p>
    </div>
</body>
</html>
