<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/">Головна</a>
        <a href="/profile">Профіль</a>
        <a href="/logout">Вийти</a>
    </header>
    <h1>Мій профіль</h1>
    <div>
        <p>ПІБ: <%= user.name %> <%= user.surname %></p>
        <p>Група: <%= user.group %></p>
        <table>
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Викладач</th>
                    <th>Оцінка</th>
                </tr>
            </thead>
            <tbody>
                <% user.subjects.forEach(subject => { %>
                    <tr>
                        <td><%= subject.subject %></td>
                        <td><%= subject.teacher %></td>
                        <td><%= subject.mark %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <p>Середній бал: <%= user.averageMark %></p>
        <p>Додаткові бали: <%= user.additionalMarks %></p>
        <p>Рейтинг: <%= user.rating %></p>
    </div>
</body>
</html>
